<!--
<div class="calculator">
  <mat-card-title>Calculadora</mat-card-title>
  <mat-card class="display">{{ result }}</mat-card>
  <button mat-fab color="primary" (click)="startListening()">
    <mat-icon>mic</mat-icon>
  </button>
</div>
-->


<mat-card appearance="outlined">
  <mat-card-content>Calculadora por Voz</mat-card-content>

  <mat-card class="display">{{ result }}</mat-card>
  <button mat-fab color="primary" (click)="startListening()">
    <mat-icon>mic</mat-icon>
  </button>

</mat-card>