.selected {
    font-weight: bold;
}

.calc-virtual {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .calc-virtual-full-width {
    width: 100%;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    background: transparent;
    border: none;
    color: #f2f2f2;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    width: 100%;
  }

