 <!-- <app-voice-calculator></app-voice-calculator>   -->
 
<nav>
    <ul>
      <!-- <li><a routerLink="/calculator" >Calculadora</a></li> -->
      <!-- <li><a routerLink="/voice-calculator">Calculadora por Voz</a></li>-->
      <!-- Adicione mais links conforme necessário -->
      <a  routerLink="/calculator" routerLinkActive="selected">Calculadora Virtual</a><br>
      <a  routerLink="/voice-calculator" routerLinkActive="selected">Calculadora por Voz</a><br>
       
    </ul>
  </nav>
  <hr>
  <router-outlet></router-outlet> 
